:root {
    //    ## Colors
    --veryDark-Grayish-Blue: rgb(72, 85, 106);
    --Desaturated-Dark-Blue: rgb(109, 127, 151);
    --Grayish-Blue: rgb(158, 175, 194);
    --Light-Grayish-Blue: rgb(237, 242, 248);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background: var(--Light-Grayish-Blue);
    margin: 0;
    box-sizing: border-box;
    //    border: 2px solid red;
    height: 100vh;
    @media screen and(min-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
    .card {
        padding-top: 5em;
        // border: 1px solid red;
        @media screen and(min-width: 1024px) {
            display: flex;
            position: relative;
        }
    }
}

.is-hidden {
    display: none;
}

.text {
    padding: 2.6em 2.3em;
    padding-bottom: 1.5em;
    background: white;
    position: relative;
    border-radius: 0 0 10px 10px;
    @media screen and(min-width: 1024px) {
        padding: 1.5em 2.6em;
        border-radius: 0 10px 10px 0;
        width: 395px;
        // border: 1px solid red;
        // height: 200px;
    }
    .title {
        margin: 0;
        // border: 1px solid red;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: .3px;
        line-height: 1.5;
        color: var(--veryDark-Grayish-Blue);
        @media screen and(min-width: 1024px) {
            font-size: 1.6em;
            // border: 1px solid green;
        }
    }
    .parrafo {
        //border: 1px solid red;
        font-size: 1.04em;
        font-weight: 500;
        color: var(--Desaturated-Dark-Blue);
        // letter-spacing: .5px;
        line-height: 1.5;
        padding-top: 1.2em;
        margin: 0;
    }
    .info {
        display: grid;
        grid-template-columns: 55px 1fr auto;
        align-items: center;
        padding-top: 2em;
        p {
            padding-top: 0;
            color: var(--veryDark-Grayish-Blue);
            font-weight: 700;
        }
        small {
            color: var(--Grayish-Blue);
            font-size: 1em;
        }
        .avatar {
            width: 3.07em;
            height: 3.07em;
            border-radius: 50%;
            object-fit: cover;
        }
        .button {
            img {
                height: .8em;
                width: .8em;
            }
            #img-p {
                display: flex;
            }
            #img-p.active {
                display: none;
            }
            #img {
                display: none;
            }
            #img.active {
                display: flex;
            }
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.4em;
            height: 2.4em;
            outline: none;
            z-index: 999;
            background: var(--Light-Grayish-Blue);
        }
        #boton.active {
            background: var(--Desaturated-Dark-Blue);
        }
    }
}

#redes {
    //display: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

#redes.active {
    //display: grid;
    opacity: 1;
    visibility: visible;
}

.redes-r {
    display: grid;
    grid-template-columns: 55px 1fr auto;
    justify-content: center;
    align-items: center;
    height: 5.3em;
    position: relative;
    bottom: 70px;
    background: var(--veryDark-Grayish-Blue);
    border-radius: 0 0 10px 10px;
    padding: 0 2em;
    .redes-icon {
        display: flex;
        user-select: none;
    }
    a {
        text-decoration: none;
        user-select: none;
        .icon {
            width: 1.7em;
            height: 1.7em;
            user-select: none;
            border-radius: 0;
        }
    }
    span {
        color: var(--Grayish-Blue);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    .icon {
        margin-left: 1em;
    }
    @media screen and (min-width:1024px) {
        // border: 1px solid red;
        position: absolute;
        width: 200px;
        height: 50px;
        border-radius: 8px;
        display: flex;
        z-index: 995;
        right: -75px;
        bottom: 80px;
        &::after {
            content: "";
            width: 30px;
            height: 30px;
            background: var(--veryDark-Grayish-Blue);
            position: absolute;
            transform: rotate(45deg);
            z-index: -1;
            top: 25px;
        }
    }
}

img {
    height: 200px;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    @media screen and(min-width: 1024px) {
        width: 295px;
        height: 275px;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
        // border: 1px solid red;
    }
}

.wrapper {
    padding: 0 1.9em;
    // border: 1px solid blue;
    @media screen and(min-width: 1024px) {
        max-width: 625px;
        width: 100%;
        padding: 0;
    }
}