:root {
  --veryDark-Grayish-Blue: rgb(72, 85, 106);
  --Desaturated-Dark-Blue: rgb(109, 127, 151);
  --Grayish-Blue: rgb(158, 175, 194);
  --Light-Grayish-Blue: rgb(237, 242, 248);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background: var(--Light-Grayish-Blue);
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
}

body .card {
  padding-top: 5em;
}

@media screen and (min-width: 1024px) {
  body .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.is-hidden {
  display: none;
}

.text {
  padding: 2.6em 2.3em;
  padding-bottom: 1.5em;
  background: white;
  position: relative;
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 1024px) {
  .text {
    padding: 1.5em 2.6em;
    border-radius: 0 10px 10px 0;
    width: 395px;
  }
}

.text .title {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: .3px;
  line-height: 1.5;
  color: var(--veryDark-Grayish-Blue);
}

@media screen and (min-width: 1024px) {
  .text .title {
    font-size: 1.6em;
  }
}

.text .parrafo {
  font-size: 1.04em;
  font-weight: 500;
  color: var(--Desaturated-Dark-Blue);
  line-height: 1.5;
  padding-top: 1.2em;
  margin: 0;
}

.text .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px 1fr auto;
      grid-template-columns: 55px 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

.text .info p {
  padding-top: 0;
  color: var(--veryDark-Grayish-Blue);
  font-weight: 700;
}

.text .info small {
  color: var(--Grayish-Blue);
  font-size: 1em;
}

.text .info .avatar {
  width: 3.07em;
  height: 3.07em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text .info .button {
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.4em;
  height: 2.4em;
  outline: none;
  z-index: 999;
  background: var(--Light-Grayish-Blue);
}

.text .info .button img {
  height: .8em;
  width: .8em;
}

.text .info .button #img-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text .info .button #img-p.active {
  display: none;
}

.text .info .button #img {
  display: none;
}

.text .info .button #img.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text .info #boton.active {
  background: var(--Desaturated-Dark-Blue);
}

#redes {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

#redes.active {
  opacity: 1;
  visibility: visible;
}

.redes-r {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px 1fr auto;
      grid-template-columns: 55px 1fr auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.3em;
  position: relative;
  bottom: 70px;
  background: var(--veryDark-Grayish-Blue);
  border-radius: 0 0 10px 10px;
  padding: 0 2em;
}

.redes-r .redes-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.redes-r a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.redes-r a .icon {
  width: 1.7em;
  height: 1.7em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}

.redes-r span {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.redes-r .icon {
  margin-left: 1em;
}

@media screen and (min-width: 1024px) {
  .redes-r {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 995;
    right: -75px;
    bottom: 80px;
  }
  .redes-r::after {
    content: "";
    width: 30px;
    height: 30px;
    background: var(--veryDark-Grayish-Blue);
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
    top: 25px;
  }
}

img {
  height: 200px;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 1024px) {
  img {
    width: 295px;
    height: 275px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
}

.wrapper {
  padding: 0 1.9em;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 625px;
    width: 100%;
    padding: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */